.App {
  text-align: center;
}

.Button {
  background-color: aquamarine;
  font: inherit;
  border: 1px solid rgba(187, 255, 0, 0.39);
  padding: 8px;
}

.Button:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}

.red {
  color: firebrick;
}

.bold {
  font-weight: bold;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: paleturquoise;
}